<h1>Projects</h1>
<table class="table table-sm" id=projects-table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th>Status</th>
    </tr>
  </thead>
    <tbody>
      <%= render @projects %>
    </tbody>
</table>
